.goods-confirm-page .confirm-title{
    font-size: 16px;
  }
  .goods-confirm-page .goods-wr{
    float: left;
    width: 50%;
    margin-bottom: 20px;
  }
  .goods-confirm-page .goods-title{
    margin-bottom: 20px;
  }
  .goods-confirm-page .image-wrapper{
    margin-bottom: 20px;
  }