@media (min-width: 320px) {
  .consignee-table {
    width: 100%;
    background: #fff;
    span {
      display: block !important;
      white-space: nowrap;
    }
    a {
      min-width: 50px !important;
    }
    .ant-table-bordered.ant-table-empty .ant-table-placeholder {
      border: none;
    }
  }
}
.consignee-table {
  overflow-y: auto !important;
  input {
    min-width: 145px !important;
  }
  textarea {
    min-width: 188px !important;
  }
  .select-col {
    min-width: 50px;
  }
  .name-col {
    min-width: 150px;
  }
  .email-col {
    min-width: 150px;
  }
  .phone-num-col {
    min-width: 100px;
  }
  .address-col {
    min-width: 150px;
  }
  .operation-col {
    min-width: 100px;
  }
  .delete-col {
    min-width: 80px;
  }
  .default-col {
    min-width: 100px;
  }
}
.addAddress {
  display: block !important;
}
.radio {
  width: 100%;
}
