@media (min-width: 992px){
    .page-container {
        padding-top: 2rem
    }
}
.navbar{
    margin-bottom: 1rem
}
.header{
    text-align: center
}

.control-btn{
    cursor :pointer;
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px
}
.control-btn:hover{
    text-decoration: none
}