@media (min-width: 1200px) {
  .nav-search {
    margin-left: 50px;
    width: 300px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .nav-search {
    margin-left: 30px;
    width: 200px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .nav-search {
    margin-left: 10px;
    width: 200px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .nav-search {
    margin-top: 10px;
    padding: 0 10px;
  }
}

@media (max-width: 369px) {
  .nav-search {
    margin-top: 10px;
    padding: 0 10px;
  }
}

.sidebar{
  z-index: 10;
  height: 100%;
  position: absolute !important;
}
.nav-bar {
  position: relative;
  display: inline;
  padding: 0 15px;
}
.nav-bar .menu {
  display: inline-block;
  width: 24px;
  height: 16px;
  position: relative;
  cursor: pointer;
}
.nav-bar .menu .icon {
  z-index: 1000;
  width: 24px;
  position: absolute;
  height: 16px;
}

.nav-bar .menu .icon:before {
  background: #777;
  border-radius: 2px;
  box-shadow: 0 6px 0 0 #777, 0 12px 0 0 #777;
  content: '';
  position: absolute;
  height: 2px;
  width: 24px;
  top: 4px;
}

.nav-bar .home {
  height: 100%;
  display: inline-block;
  padding: 0 16px;
}

.nav-bar .home a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.65);
}

.nav-bar .home a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
.nav-search {
  display: inline-block;
}
.nav-bar .active {
  background-color: #1890ff;
}
