@import '~antd/dist/antd.css';
.clearfix:after,
.block-container:after {
  content: ' ';
  display: block;
  height: 0;
  clear: both;
}
@media (max-width: 640px) {
  .block {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .page-container {
    padding-top: 2rem;
  }
  .block {
    flex: 1 1 33.33%;
    box-sizing: border-box;
    max-width: 33.33%;
  }
  .block .content .details {
    min-height: 80px;
  }
}

body {
  background-color: #e9ecef;
}

.navbar {
  padding: 0 15%;
  background: white;
}

.navbar a {
  color: black;
}

ul.nav li a {
  color: black;
}

ul.nav li {
  font-size: 14px;
}

.banner {
  height: 200px;
  position: relative;
  margin-bottom: 20px;
}

.banner-bg {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 0;
  left: 0;
  background-image: url(/asset/banner.jpg);
}

.banner-bg:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #3a1919;
  opacity: 0.6;
  width: 100%;
  height: 100%;
}

.banner .title {
  position: relative;
  text-align: center;
  margin: auto;
  font-weight: bold;
  font-size: 25px;
  color: white;
  line-height: 200px;
}

.page > .header {
  padding: 15px;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}
.control-btn {
  cursor: pointer;
}

.list-container {
  margin-bottom: 30px;
}

.list-container .header .title {
  font-size: 18px;
  font-weight: bold;
}

.list-container .header .subtitle {
  display: flex;
  justify-content: space-between;
  color: #818182;
}

.list-container .header a {
  color: #818182;
}

.images-container {
  padding: 5px;
  display: inline-flex;
  align-items: center;
  border: 1px solid lightgray;
  background-color: #eee;
  overflow: auto;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
}

.images-container .image-add {
  position: relative;
}

.images-container .image-add input[type='file'] {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0;
}

.images-container .add-icon {
  font-size: 50px;
  cursor: pointer;
}

.images-container .image-wrapper {
  max-width: 100px;
  margin-right: 10px;
  min-width: 100px;
  max-height: 65px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  background: white;
}

.images-container .remove-icon {
  position: absolute;
  right: 2px;
  top: 2px;
}

.images-container img {
  width: 100%;
}

.block-container {
  min-height: 30px;
}

.block {
  margin-bottom: 10px;
  min-height: 100px;
  padding-right: 10px;
}
.boxmain {
  background-color: white;
  border-radius: 2px;
  overflow: hidden;
  min-height: 100px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
.block .content {
  padding: 0 10px;
  min-height: 1rem;
}

.block .header {
  text-align: right;
  font-size: 12px;
  height: 45px;
  transform: rotate(-45deg);
  position: absolute;
  line-height: 43px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}
.block .left-icon:before {
  content: ' ';
  border: 40px solid transparent;
  border-bottom: 45px solid red;
  display: inline-block;
  height: 0;
  left: -42px;
  opacity: 0.8;
  position: absolute;
  top: -44px;
  width: 0;
  border-color: #56b372 transparent transparent;
  transform: rotate(135deg);
}

.block .title {
  text-align: center;
  padding: 5px 10px;
  font-size: 18px;
}

.block .menu {
  border-top: solid 1px #ccc;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}
.block .status {
  padding: 5px 0;
}
.block .control-btn {
  color: #007bff;
  padding: 5px 0;
}
.block .control-btn:hover {
  text-decoration: underline;
}
.block .desc {
  word-break: break-word;
  min-height: 50px;
  overflow: hidden;
  font-size: 13px;
  padding: 0 10px;
  flex-grow: 2;
}

.block .image-wr {
  overflow: hidden;
  height: 140px;
}

.block .transaction {
  flex: 1 1 100%;
  box-sizing: border-box;
  max-width: 100%;
}

.block img {
  width: 100%;
  max-height: 150px;
}
.block .comment {
  border-top: solid 1px #ccc;
}
.block .input-wr {
  display: flex;
  margin-bottom: 5px;
}
.block input {
  display: block;
  width: 100%;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
}
.block .input-btn-wr {
  border-top: 1px solid #ced4da;
  border-bottom: 1px solid #ced4da;
  border-right: 1px solid #ced4da;
}
.block .input-btn-wr .input-btn {
  font-size: 14px;
  line-height: 28px;
  padding: 0 5px;
}
.view-page .group {
  margin-bottom: 20px;
}

.view-page .label {
  font-size: 16px;
  font-weight: bold;
}

.flex {
  display: flex;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
}
.relative {
  position: relative;
}
.main-blue {
  color: #007bff;
}
.icon-active {
  color: #007bff;
}
.edit-page .select-right {
  width: 95px;
  margin-left: 10px;
  padding: 5px;
  font-size: 14px;
}

.edit-page .label-right {
  line-height: 38px;
  font-size: 16px;
  height: 38px;
  display: inline-block;
  margin-left: 5px;
}

.page .subtitle {
  font-size: 16px;
  font-weight: bold;
  padding: 5px 0;
}

.has-error .form-control {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .invalid-feedback {
  color: #a94442;
}

.invalid-feedback {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}

/* The Modal (background) */

.modal {
  display: block;
  position: fixed;
  z-index: 1;
  padding: 10% 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

/* Modal Content */

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  height: 80%;
  max-width: 1200px;
  animation: PicMove 0.5s;
}

@keyframes PicMove {
  0% {
    transform: translateX(-100%) scale(0);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}

/* The Close Button */

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
  opacity: 1;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.cursor {
  cursor: pointer;
}

/* Next & previous buttons */

.prev,
.next {
  cursor: pointer;
  position: fixed;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */

.modal .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.modal img {
  margin-bottom: -4px;
  width: 100%;
}
.steps-content {
  margin-top: 30px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  padding-left: 24px;
  padding-top: 80px;
}
.steps-action {
  margin-top: 24px;
}
.edits-title {
  font-size: 20px;
  font-weight: bold;
}
.edits-select {
  margin-top: 20px;
}
.edits-top {
  margin-top: 10px;
}
.container-wrap-profile {
  width: 70%;
  margin: 0 auto;
}
.container-wrap-profile div {
  margin-bottom: 10px;
}
.header-center {
  font: 25px bold;
  margin: 10px;
  color: black;
  text-align: center;
}
.profile-subtitle {
  font: 17px bold;
  margin: 6px 0;
  color: black;
  margin-top: 20px;
}
.button-margin {
  margin-right: 10px;
}
.lost-title {
  width: 100%;
  margin: 0 auto;
  font: 17px bold;
  color: black;
  text-align: center;
}
.margin-login {
  margin-top: 100px;
}
.margin-lostPas {
  margin-top: 100px;
}
.float-lostPas {
  float: right;
  margin-top: 30px;
}
.confirm-title {
  font-size: 20px;
}
.confirm-btn-right {
  float: right;
}
.icon-menu {
  display: block;
  position: absolute;
  z-index: 1000;
  width: 50px;
  margin-top: 7px;
  height: 50px;
  cursor: pointer;
}
.icon-menu:before {
  background: #777;
  border-radius: 2px;
  box-shadow: 0 6px 0 0 #777, 0 12px 0 0 #777;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  width: 24px;
  top: 18px;
  right: 13px;
}
.mobile-navigation {
  border-right: 0;
}
.container-upload {
  margin-bottom: 30px;
}
.uploadCls-profile {
  padding: 10px;
  background: #fff;
  border: 1px solid #eee;
}
.uploadCls-transactions-edit {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #fff;
  background: #e9ecef;
}
.login-form-button {
  margin-left: 10px;
}

.ant-form-item-control {
  text-align: right;
  font-size: 90%;
}
.steps-content {
  padding-left: 0;
  padding-bottom: 30px;
  padding-top: 30px;
  min-height: 150px;
}
.ant-input-number {
  width: 100%;
}
.home-menu {
  display: inline;
}
.home-menu a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.65);
}
.home-menu a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}
.pop .home-menu a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.65);
}
.pop .home-menu a:link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.65);
}
.pop .home-menu a:visited {
  text-decoration: none;
}
.pop .home-menu a:hover {
  text-decoration: none;
  color: #1890ff;
}
.pop .home-menu a:active {
  text-decoration: none;
  color: #1890ff;
}
.pop .home-menu {
  line-height: 40px;
  padding: 0 16px;
  font-size: 14px;
  text-overflow: ellipsis;
  display: inherit;
}
.home-menu.active {
  background-color: #e6f7ff;
}
.home-menu.active a:link {
  color: #1890ff;
}
.home-menu.active a:visited {
  color: #1890ff;
}
.home-menu.active a:hover {
  color: #1890ff;
}
.home-menu.active a:active {
  color: #1890ff;
}
